* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 27, 41);
    background-image: url("https://thumbs.dreamstime.com/b/big-win-red-slot-machine-game-jackpot-lucky-seven-casino-vegas-triple-221759817.jpg");
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Gemunu Libre', sans-serif;
}

header {
    font-size: 5vmin;
    color: black;
    letter-spacing: 1vmin;
    visibility: hidden;
}

#message {
    margin-top: 5vmin;
}

h3 {
    color: darkgrey;
    font-size: 2vmin;
}

#machine {
    display: grid;
    grid-template-columns: repeat(3, 11vmin);
    grid-template-rows: repeat(1, 22vmin);
    gap: 1vmin;
}


#machine > div {
    margin-top: 8vmin;
    margin-bottom: -10vmin;
    border: 0.1vmin solid black;
}

#roll {
    margin-top: -6vmin;
    margin-left: 69vmin;
    padding: 2vmin;
    font-size: 1.5vmin;
    border-radius: 3vmin;
    border: 0.1vmin solid grey;
    color: grey;
    position: relative;
    top: -12em;
    right: -0.5em;
}

#roll:hover {
    color: white;
    background-color: darkgrey;
}


#earning {
    margin-top: 10vmin;
    
    font-size: 2em;
}

#wager {
    font-size: 1.2em;
    color: white;
}

.adjust {
    font-size: 2vmin;
    border-radius: 5vmin;
    border: 0.1vmin solid black;
    color: grey;
}

#add {
    margin-top: -6vmin;
    margin-left: 15vmin;;
}

#add:hover {
    color: black;
    background-color: rgb(38, 201, 38);
}

#sub {
    margin-left: 15vmin;
}

#sub:hover {
    color: black;
    background-color: rgb(231, 56, 56);
}


#again {
    position: relative;
    margin-top: 4.5vmin;
    padding: 1.5vmin;
    font-size: 1.5vmin;
    border-radius: 2vmin;
    border: 0.1vmin solid grey;
    color: grey;
    width: 26%;
  }

  #again:hover {
    color: white;
    background-color: darkgrey;
  }
